<ion-view view-title="Add Violation">
  <!-- Back button -->
  <ion-nav-bar>
    <ion-nav-back-button id="backButton" class="button-clear">
      <i class="ion-chevron-left"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>

  <!-- Violations -->
  <ion-content class="padding">
    <div class="checkboxes ion-scroll">
      <button class="button button-full button-assertive">CHOOSE VIOLATION</button>
      <ion-scroll zooming="false" direction="y" style="width: device-width; height: 350px">
        <div>
          <form name="violations" ng-repeat="obj in violations">
            <h5>{{obj.title}}</h5>
            <ion-list>
              <ion-item class="item item-checkbox checkbox-assertive" ng-repeat="violation in obj.violations">
                {{violation}}
                <label class="checkbox">
                  <input type="checkbox" ng-true-value="'YES'" ng-false-value="'NO'">
                </label>
              </ion-item>
            </ion-list>
          </form>
        </div>
      </ion-scroll>
    </div>

    <!-- Corrective Actions -->
    <div class="correctiveaction">
      <button class="button button-full button-energized">CORRECTIVE ACTION REQUIRED</button>
      <form name="corrective action" ng-repeat="action in correctiveactions">
        <ion-list>
          <ion-item class="item item-checkbox checkbox-energized">
          {{action}}
          <label class="checkbox">
            <input type="checkbox" ng-true-value="'YES'" ng-false-value="'NO'">
          </label>
        </ion-list>
      </form>
    </div>

    <!-- Add Description -->
    <div class="description">
      <button class="button button-full button-positive">ADD DESCRIPTION</button>
      <div class="row">

        <div class="col form-group">
          <li class="item item-checkbox checkbox-assertive">
            Red Item
            <label class="checkbox">
              <input type="checkbox" ng-true-value="'YES'" ng-false-value="'NO'">
            </label>
          </li>
        </div>

        <div class="col form-group">
          <li class="item item-checkbox checkbox-energized">
            Critical Item
            <label class="checkbox">
              <input type="checkbox" ng-true-value="'YES'" ng-false-value="'NO'">
            </label>
          </li>
        </div>

        <div class="col form-group">
          <li class="item item-checkbox checkbox-royal">
            Non-Critical
            <label class="checkbox">
              <input type="checkbox" ng-true-value="'YES'" ng-false-value="'NO'">
            </label>
          </li>
        </div>
      </div>

      <div class="row">
        <div class="col form-group">
          <label class="item item-input">
            <input type="text" placeholder="Item No.">
          </label>
        </div>

        <div class="col form-group">
          <label class="item item-input">
            <input type="text" placeholder="Code Ref.">
          </label>
        </div>

        <div class="col form-group">
          <label class="item item-input item-stacked-label">
            <span class="corr-input-label">Date Verified:</span><input type="time" class="form-control" ng-model="formData.timein" placeholder="">
          </label>
        </div>

        <label class="item item-input">
          <input type="text" placeholder="Tap to add description">
        </label>
      </div>
  </ion-content>
</ion-view>