<ion-view view-title="Inspector Gadget">
  <ion-view view-title="Inspector Gadget">
    <ion-content class="padding">
      <div class="container">
        <!-- Our Logo -->

        <img src="http://i246.photobucket.com/albums/gg102/xlove_alwaysx/logo_zpstdsycnja.png" border="0" alt=" photo logo_zpstdsycnja.png"/>

        <div class="buttons">
          <a href="#/page/newinspection" class="button button-medium button-block button-positive">
            New Inspection
          </a>

          <button class="button button-medium button-block button-positive">
            Choose Existing Form
          </button>

          <a href="#/page/formviewer" class="button button-medium button-block button-positive">
            Food Code
          </a>

       </button>
        </div>
      </div>
    </ion-content>
  </ion-view>
</ion-view>
