<ion-view view-title="{{form.name}}">
	<!-- Back button  -->
	<ion-nav-bar>
		<ion-nav-back-button id="backButton" class="button-clear">
			<i class="ion-chevron-left"></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>

	<ion-content class="content">
		<form id="new-form">
			<div class="info">
				<button class="button button-full button-positive" disabled style="opacity: 1.0">
					INSPECTION INFO
				</button>

				<div class="row" ng-repeat="field in fields">
					<div class="col form-group">
						{{field.name[0]}} <br>
						{{form[field.model[0]]}}
					</div>

					<div class="col form-group">
						{{field.name[1]}} <br>
						{{form[field.model[1]]}}
					</div>
				</div>

				<div class="row">
					<div class="col form-group">
						Prev. Inspection Date: {{form.prevInspectDate}}
					</div>
				</div>

			<!---.................................................................
			...........................VIOLATIONS.................................
			...................................................................-->
			<div class="violations">
				<button class="button button-full button-assertive"  disabled style="opacity: 1.0">
					VIOLATIONS
				</button>
				<div>
					<h5>Violations</h5>
					<div ng-repeat="v in form.violations">
						{{v}}
					</div>
				</div>

				<div>
					<h5>Corrective Actions</h5>
					<div ng-repeat="ca in form.corrActions">
						{{ca}}
					</div>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>