<!-- pdf.js source: https://goo.gl/VH5R3g-->
<ion-view view-title="Form Viewer">
  <ion-content style="overflow: hidden;">
    <div class="row">
      <div class="col">
          <label id="formSelector" class="item item-input item-select">
            <div class="input-label">
              Viewing:
            </div>

            <select ng-model="selection" required>
              <option value="" disabled selected hidden>Choose a file...</option>
              <option ng-repeat="form in forms" value="{{form.path}}" label="{{form.name}}"></option>
            </select>
          </label>
      </div>
    </div>

    <iframe id="formViewer" ng-show="selection !== null" ng-src={{getFromPath(selection)}}></iframe>
  </ion-content>
</ion-view>