<!-- Source: http://goo.gl/H2455O -->
<ion-view view-title="Forms">
<!--   <ion-header-bar class="bar-light bar-subheader">
    <input id="formSearchBox"
      type="search"
      placeholder="Search existing forms..."
      ng-model="search"
      ng-focus="searchFocused = true"
      ng-blur="searchFocused = false"
      ng-change="scrollTop()">
    <button ng-if="search.length"
      class="button button-icon ion-android-close input-button"
      ng-click="clearSearch()">
    </button>
  </ion-header-bar> -->

  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="form in forms" type="item-text-wrap" href="#/page/forms/{{form.path}}">
        <h2>{{form.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>