<!-- pdf.js source: https://goo.gl/VH5R3g -->
<ion-view view-title="{{form.estName}}">
  <!-- Back button -->
  <ion-nav-bar>
    <ion-nav-back-button id="backButton" class="button-clear">
      <i class="ion-chevron-left"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    {{form.estName}} <br>
    {{form.date}} <br>
    {{form.address}} <br>
    {{form.owner}} <br>
    {{form.phone}} <br>
    {{form.pic}} <br>
    {{form.permitNo}} <br>
    {{form.inspector}} <br>
    {{form.riskLvl}} <br>
    {{form.prevInspDate}} <br>
    {{form.timeIn}} <br>
    {{form.timeOut}} <br>
    {{form.typeOfOp}} <br>
    {{form.typeOfInsp}}
  </ion-content>
</ion-view>