<ion-view view-title="Inspection Form">

  <ion-content class="content">

<!---.................................................................
  ...........................INSPECTION INFO...........................
...................................................................-->
<form method="post" action="path?">
    <div class = "info">
    <button class="button button-full button-positive">
    INSPECTION INFO
    </button>

    <div class="row">
      <div class = "col">
        <label class="item item-input">
           <input type="text" name="est-name" placeholder="Name of Food Establishment">
        </label>
      </div>

      <div class = "col">
        <label class="item item-input">
          <input type="text" name="date" placeholder="MM/DD/YYYY">
        </label>
      </div>
    </div>

     <div class="row">
      <div class = "col">
        <label class="item item-input">
           <input type="text" name="address" placeholder="Address">
        </label>
      </div>

      <div class = "col">
        <label class="item item-input">
          <input type="text" name="owner" placeholder="Owner">
        </label>
      </div>
    </div>

     <div class="row">
      <div class = "col">
        <label class="item item-input">
           <input type="text" name="phone" placeholder="Telephone">
        </label>
      </div>

      <div class = "col">
        <label class="item item-input">
          <input type="text" name="person-in-charge" placeholder="Person In Charge">
        </label>
      </div>
    </div>

     <div class="row">
      <div class = "col">
        <label class="item item-input">
           <input type="text" name="permit-no" placeholder="Permit No.">
        </label>
      </div>

      <div class = "col">
        <label class="item item-input">
          <input type="text" name="inspector" placeholder="Inspector">
        </label>
      </div>
    </div>

     <div class="row">
      <div class = "col">
        <label class="item item-input">
           <input type="text" name="risk-lvl" placeholder="Risk Level">
        </label>
      </div>

      <div class = "col">
        <label class="item item-input">
          <input type="text" name="prev-insp-date" placeholder="Prev. Inspection Date">
        </label>
      </div>
    </div>

      <div class="row">
      <div class = "col">
        <label class="item item-input item-stacked-label">
           <span class=input-label">Time In:</span><input type="time" placeholder="">
        </label>
      </div>

      <div class = "col">
        <label class="item item-input item-stacked-label">
           <span class=input-label">Time Out:</span><input type="time" placeholder="">
        </label>
      </div>
    </div>

    <div class = "row">
      <div class = "col">
       <ion-checkbox ng-model="filter.blue">HACCP</ion-checkbox>
      </div>
    </div>

      <div class = "row">
        <div class = "col">
          <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Type of Operation:
            </div>
          <select>
            <option>Retail</option>
            <option selected>Food Service</option>
            <option>Residential Kitchen</option>
            <option>Mobile</option>
            <option>Temporary</option>
            <option>Caterer</option>
            <option>Bed and Breakfast</option>
          </select>
          </label>
         </div>
        </div>
      </div>

      <div class = "row">
        <div class = "col">
          <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Type of Inspection:
            </div>
            <select>
              <option>Re-Inspection</option>
              <option selected>Routine</option>
            </select>
          </label>
        </div>
      </div>
    </div>

    </div>

<!---.................................................................
  ...........................VIOLATIONS...............................
...................................................................-->

    <div class = "violations">
    <button class="button button-full button-assertive">
    VIOLATIONS
    </button>
     <!--INSERT DATA FIELDS-->

     <a href="#/page/settings" class="button icon-left ion-plus-circled button-outline button-assertive button-medium">
    Add Violation
      </a>
  </button>
<!--
      <a href="#/page/pdfviewer" class="button button-medium button-block button-positive">
            Food Code
      </a>
-->

    </div>

<!---.................................................................
  ...........................SIGNATURE................................
...................................................................-->


<div class = "signature">
    <button class="button button-full button-dark">
    SIGNATURE
    </button>



    <div class = "sig row">
      <div class = "col">
       <button class="button icon-left ion-android-close button-clear button-stable button-medium">_____________________</button>
      </div>

      <div class = "col">
        <button class="button icon-left ion-android-close button-clear button-stable button-medium">_____________________</button>
      </div>
    </div>

</div>


<a class="button icon-right ion-chevron-right button-balanced">Save & Continue</a>

</form>



  </ion-content>
</ion-view>
