<!-- We'll call tabs pages for the sake of staying consistent with our SDD -->

<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Home -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/page/dash">
    <ion-nav-view name="page-dash"></ion-nav-view>
  </ion-tab>

  <!-- New Inspection Form -->
  <ion-tab title="New Inspection" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/page/newinspection">
    <ion-nav-view name="page-newinspection"></ion-nav-view>
  </ion-tab>

  <!-- PDF Viewer -->

  <ion-tab title="Pdf Viewer" icon-off="ion-document" icon-on="ion-document" href="#/page/pdfviewer">
    <ion-nav-view name="page-pdfviewer"></ion-nav-view></ion-tab>

  <ion-tab title="Form Viewer" icon-off="ion-document" icon-on="ion-document" href="#/page/formviewer">
    <ion-nav-view name="page-formviewer"></ion-nav-view>
  </ion-tab>

  <!-- Settings-->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/page/settings">
    <ion-nav-view name="page-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
