<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Home -->
  <ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/page/dash">
    <ion-nav-view name="page-dash"></ion-nav-view>
  </ion-tab>

  <!-- New Inspection Form -->
  <ion-tab title="New Inspection" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/page/newinspection">
    <ion-nav-view name="page-newinspection"></ion-nav-view>
  </ion-tab>

  <!-- Forms -->
  <ion-tab title="Forms" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/page/forms">
    <ion-nav-view name="page-forms"></ion-nav-view>
  </ion-tab>

  <!-- Food Codes  -->
  <ion-tab title="Food Code" icon-off="ion-code" icon-on="ion-code" href="#/page/foodcodes">
    <ion-nav-view name="page-foodcodes"></ion-nav-view>
  </ion-tab>
</ion-tabs>