/* Styling for the PDF Viewer */

.scroll {
  height: 100%;
}

#formViewer {
  position: fixed;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  #formSelector {
    position: absolute;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  #formViewer {
    top: 70px;
  }
}