/* Styling for the PDF Viewer */

.scroll {
  height: 100%;
}

#formSelectionBox {
  position: absolute;
  left: 50%;
}

#formSelector {
  /*height: 50px;*/
}

@media (min-width: 600px) {
  #formSelector {
    width: 50%;
  }
}

#formViewer {
  width: 100%;
  height: 100%;
}