.container{
	text-align: center;
	color: #293241;
}

.padding{
	padding-top: 15%;
}

.buttons .button {
  position: relative;
  margin: 40px 0 40px 0;
  height: 50px;
}

.buttons{
	padding-top: 40px;
}

img{
	width: 200px;
	height: 130px;
}
