.container{
  text-align: center;
  color: #293241;
}

.logo {
  max-width: 400px;
  padding-top: 50px;
}

.button {
  position: relative;
}

.buttons{
  max-width: 400px;
  padding-top: 30px;
  margin: 0 auto;
}

img{
  width: 60%;
  height: 40%px;
}

.content{
  text-align: center;
}

.hide{
  display: none;
}

.checkboxes{
	font-family: "Calibri";
}
#savecontinue {
  margin-bottom: 20px;
}

@media (max-width: 740px) {
  .sig {
    display: inline-block;
  }
}
