.container{
	text-align: center;
	color: #293241;
}

.logo {
	padding-top: 15%;
}

.button {
  position: relative;
}

.buttons{
	padding-top: 30px;
}

img{
	width: 60%;
	height: 40%px;
}

.content{
	text-align: center;
}

.hide{
	display: none;
}
